*{
    box-sizing: border-box;
    
}
#tela{
    
    width: 700px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px 5px rgb(22, 22, 22);
}
#t1{
    position: absolute;
    width: 175px;
    animation: descer 1s infinite linear;
}
#t2{
    position: absolute;
    width: 175px;
    margin-left: 175px;
    animation: descer 4s infinite linear;
}   
#t3{
    position: absolute;
    width: 175px;
    margin-left: 350px;
    animation: descer 3s infinite linear;
}
#t4{
    position: absolute;
    width: 175px;
    margin-left: 525px;
    animation: descer 2s infinite linear;
}
#amarelo{
    position: absolute;
    bottom: 5px;
    width: 175px;
    height: 100px;
    margin-left: 175px;
    
}
#laranja{
    position: absolute;
    bottom: 5px;
    width: 175px;
    height: 100px;
    margin-left: 350px;
    
}
#roxo{
    position: absolute;
    bottom: 5px;
    width: 175px;
    height: 100px;
    margin-left: 525px;
    
}
#vermelho{
    position:absolute;
    bottom: 5px;
    width: 175px;
    height: 100px;
    
}
button{
    font-size:large;
}
@keyframes descer {
    from {
        top: -100px;
    }

    to {
        top: 100%;
    }
}
h1{
    text-align: center;
}
#cont{
    margin-top: 20%;
    
}
body img{
    width: auto;
    height: auto;
}