*{
    box-sizing: border-box;
}
#tela{
    border: 1px solid black;
    width: 700px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#t1{
    position: absolute;
    width: 175px;
    animation: descer 2s infinite linear;
}
#t2{
    position: absolute;
    width: 175px;
    margin-left: 175px;
    animation: descer 4s infinite linear;
}   
#t3{
    position: absolute;
    width: 175px;
    margin-left: 350px;
    animation: descer 3s infinite linear;
}
#t4{
    position: absolute;
    width: 175px;
    margin-left: 525px;
    animation: descer 2s infinite linear;
}
#amarelo{
    position: absolute;
    bottom: 5px;
    width: 175px;
    height: 100px;
    margin-left: 175px;
}
#laranja{
    position: absolute;
    bottom: 5px;
    width: 175px;
    height: 100px;
    margin-left: 350px;
}
#roxo{
    position: absolute;
    bottom: 5px;
    width: 175px;
    height: 100px;
    margin-left: 525px;
}
#vermelho{
    position:absolute;
    bottom: 5px;
    width: 175px;
    height: 100px;
}
button{
    font-size:large;
}
@keyframes descer {
    from {
        top: -100px;
    }

    to {
        top: 100%;
    }
}
h1{
    margin-top: 20%;
    text-align: center;
}